h1{
    animation: aparicion 2s linear 0s;
}

@keyframes aparicion{
    from{
        transform: translateY(30px);
    }
}

img{
    width: 400px;
    height: 200px;
}

img:hover{
    animation: borde 1s linear 0s, sombra 3s linear 1s;
    animation-fill-mode: forwards;
}

@keyframes borde{
    to{
        border-radius: 50%;
    }
}

@keyframes sombra{
    from{

    }

    to{
        box-shadow: 0 0 30px 10px;
    }
}
