body{
    height: 100vh;

}

.principal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    /* overflow: hidden; */
    /* position: relative; */
    
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: white;
}

/* .caja3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */

.caja img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.caja1{
    background-color: black;
    grid-area: 1/1/2/4;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.caja1 span{
    color: aquamarine;
}

.caja2{
    background-color: rgb(0, 81, 255);
}

.caja5{
    background-color: rgb(43, 153, 255);
}

.caja6{
    background-color: rgb(152, 215, 252);

}

.caja8{
    background-color: rgb(248, 198, 89);
}

.caja9{
    grid-column: 1/3;
    background-image: url("img/empleo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.caja9 p{
    background-color: rgba(45, 59, 255, 0.5);
    background-blend-mode: ;
    font-style: italic;
    font-size: 30px;
}

.caja10{
    background-color: rgb(0, 81, 255);
}



.caja11{
    grid-column: 4/6;
    background-image: url("img/redes.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}

.caja11 p{
    background-color: rgba(45, 59, 255, 0.5);
    background-blend-mode: ;
    font-style: italic;
    font-size: 30px;
}