*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedorPrincipal{
    padding: 10px;
    font-size: 150%;
}

p, a{
    font-size: 80%;
}

.boton{
    padding: 5px 15px;
    width: max-content;
    background-color: rgb(0, 162, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}



/***************** HEADER *****************/
header{
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #000272;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
}

nav ul a{
    color: white;
    text-decoration: none;
}



/***************** MAIN *****************/
main{
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
}

.principal .izquierda{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.principal .izquierda h1{
    color: #000272;
}

.principal .derecha{
    flex: 1;
    display: flex;
    justify-content: center;
}

.principal .derecha img{
    padding: 30px;
    width: 100%;
    border-radius: 40px;
}

.servicios{
    padding: 30px;
    display: flex;
    gap: 15px;
}

.tarjetas{
    flex: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.tarjetas h3{
    color: #000272;
}

.testimonios{
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #e7e7e7;
}

.testimonios div{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 5px;
}

.autor{
    font-weight: bold;
}



/***************** FOOTER *****************/
footer{
    display: grid;
    grid-template-rows: 300px auto;
    color: white;
}

footer .arriba{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000397;
}

footer .abajo{
    display: flex;
    background-color: #000153;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer .abajo div{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .abajo ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .abajo a{
    text-decoration: none;
    color: white;
}