* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: gray; */
}

.principal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

nav li {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#app {
    flex: 1;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

#detalles {
    flex-direction: column;
    /* border: 2px solid black; */
}


.filaCabecera {
    width: 100%;
    display: flex;
}

.casillaCabecera {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.filaAlumno {
    display: flex;
    border: 1px solid black;
}

.casillaAlumno {
    padding: 10px;
    flex: 1;
    white-space: nowrap; /* Evita que haga saltos de linea */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    text-overflow: ellipsis; /* Pone 3 puntos al truncar */
    text-align: center;
}

/* Aplico un estilo a todas las casillas cuando paso el cursor por encima de las filas */
.filaAlumno:hover .casillaAlumno {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    background-color: yellow;
}



#ficha {
    flex-wrap: wrap;
    gap: 30px;
    /* border: 2px solid black; */
}

.tarjeta {
    height: max-content;
    padding: 10px;
    border: 1px solid black;
}

.tarjeta:hover {
    background-color: yellow;
}

.listadoAtributos {
    display: flex;
    flex-direction: column;
    gap: 5px
    ;
    list-style: none;
}

.listadoAsignaturas {
    padding-top: 5px;
    padding-left: 30px;
}


/* Estilos dinamicos */
.seleccionado {
    background-color: yellow;
}

.visible {
    display: flex;
}

.oculto {
    display: none;
}