.listaTareas{
    padding: 3em;
}

.tarea{
    width: 200px;
    height: max-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    
}

.agregarTarea, .tareas{
    padding: 1em 0;
}

.filtros{
    display: flex;
    align-items: center;
}

.filtros button{
    height: max-content;
}

button{
    padding: 5px;
    margin: 3px;
}

.tareas{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}