body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    height: max-content;
    display: flex;
    justify-content: center;
    text-align: center;
}

form{
    border: 1px solid rgb(190, 190, 190);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label{
    font-weight: bold;
}

.bloqueCentral{
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    gap: 10px;
    height: max-content;
}

.tablaListaAlumnos{
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(245, 245, 245);
}

.tablaBotones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.tablaBotones button{
    background-color: rgb(0, 140, 255);
    width:50px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.tablaAlumnosSeleccionados{
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(245, 245, 245);
}

.fila, .th1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fila div, .th1 div{
    border: 1px solid rgb(190, 190, 190);
    border-collapse: collapse;
}

.alumnosSeleccionados, .th2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.alumnosSeleccionados div, .th2 div{
    border: 1px solid rgb(190, 190, 190);
    border-collapse: collapse;
}

.bloqueInferior{
    display: flex;
    justify-content: center;
}




.filaSeleccionada{
    background-color: red;
}