body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */
header {
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 3em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* MAIN */
section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

audio {
    margin-top: 1em;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
