body{
    background-color: #146356;
    font-family: Arial, Helvetica, sans-serif;
}

.pagina{
    margin: 2em 5em;
}

header{
    background-color: #F3C892;
    border: 3px solid white;
    height: 10em;
}

header img{
    float: left;
    height: 100%;
}

header h1, header h3{
    text-align: center;
    color: #146356;
    margin-left: 30%;
    margin-top: 30px;
}

header h1{
    font-size: 40px;
}

.contenido{
    /* border: 3px solid blue; */
    margin-top: 2em;
    display: flex;
}

.seccionIzquierda{
    /* border: 3px solid red; */
    width: 20%;
    padding: 1em 2em;
}

.parrafosIzquierda{
    color: white;
    text-align: center;
    padding: 1em;
    /* border: 3px solid blue; */
}

.seccionCentral{
    background-color: #F3C892;
    width: 60%;
    padding: 1em;
    /* border: 3px solid red; */

}

.navTable{
    margin: 1em;
    /* border: 3px solid blue; */
}

.secciones{
    /* border: 3px solid red; */
    padding: 1em;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #A3DA8D;
    height: 3em;
    width: 100%;
}

td{
    border: 1px solid black;
    width: 50%;
    text-align: center;
}

td a{
    font-size: 20px;
}

#foto1{
    float: left;
    margin-right: 1em;
    width: 7em;
}

.secciones p{
    text-align: justify;
}

#foto2{
    float: right;
    margin-left: 1em;
    width: 30%;
}

.secciones h3{
    color: #146356;
}



.seccionDerecha{
    width: 20%;
    /* border: 3px solid red; */
}

#tazaVolando{
    border: 3px solid white;
    float: right;
    margin-top: 10em;
    width: 80%;
}

footer h4{
    text-align: center;
    color: white;
}