.pagina{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2px;
    height: 98vh; /* ViewPort ventana visible del navegador */
}

.sidebar{
    background-color: #74d8d8;
    padding: 12px 24px;
    height: auto;
    flex: 1;
}

a{
    text-decoration: none;
    color: black;

}

hr{
    border: 1px solid gray;
}

.contenido{
    background-color: rgb(144, 252, 176);
    padding: 12px 24px;
    height: auto;
    flex: 9;

}