*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    background-color: #00b809;
}

.header{
    margin: 0 10%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #00ff00;
    height: 50px;
    border-radius: 5px;
}

.header ul{
    display: flex;
}

.header a{
    padding: 10px;
}

.header>nav>ul>li> a:hover {
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
}

li a, li{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

main{
    margin: 0 10%;
    padding: 10px 0;;
    display: flex;
}

.articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    height: max-content;
}

section{
    width: 200px;
    background-color: rgb(245, 244, 244);
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 10px;
}

aside{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    background-color: #e7ffe4;
    height: max-content;
    padding: 20px 10px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

aside li{
    padding: 5px 0;
}

aside a:hover {
    border-top: 2px solid #00ff00;
    border-bottom: 2px solid #00ff00;
}

footer{
    margin: 0 10% 5px;
    display: flex;
    justify-content: space-around;
    background-color: #00b809;
    border-radius: 5px;
}

footer div{
    margin: 30px;
    padding: 20px;
    background-color: #00ff00;
    border-radius: 5px;
}

/* .submenu {
    display: block;
    list-style: none;
}*/

@media screen and (max-width: 800px){
    .header{
        margin: 0;
    }

    .articulos{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    section{
        width: 100%;
        background-color: rgb(245, 244, 244);
        border: 1px solid rgb(173, 173, 173);
        border-radius: 5px;
        padding: 10px;
    }

    main{
        margin: 0 5%;
    }

    #menu{
        display: none;
    }

    footer{
        margin: 0;
        display: flex;
        justify-content: space-between;
        background-color: #00b809;
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px){

    #menu{
        display: none;
    }

    .header{
        margin: 0;
    }

    main{
        margin: 0 5%;
        display: flex;
        flex-direction: column;
    }

    .articulos{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    section{
        width: 100%;
        background-color: rgb(245, 244, 244);
        border: 1px solid rgb(173, 173, 173);
        border-radius: 5px;
        padding: 10px;
    }

    aside{
        margin: 5%;
    }

    aside ul{
        display: flex;
        justify-content: space-around;
    }

    footer div{
        margin: 10px;
    }
}