body{
    padding: 20px;
}

.pagina{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 250px;
}

.columnaIzquierda{
    background-color: green;
    color: white;
    padding: 24px;
    flex: 2;
}

.columnaDerecha{
    background-color: aqua;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.columnaDerecha1, .columnaDerecha2{
    padding: 24px;
    border: 1px solid gray;
    flex: 1;
}
