* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

nav li{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#app{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detalles{
    border: 2px solid black;
}

#ficha{
    border: 2px solid black;
    display: none;
}

.filaCabecera{
    width: 100%;
    display: flex;
}

.casillaCabecera{
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.filaAlumno{
    display: flex;
    border: 1px solid black;
}

.casillaAlumno{
    padding: 10px;
    flex: 1;
    white-space: nowrap; /* Evita que haga saltos de linea */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    text-overflow: ellipsis; /* Pone 3 puntos al truncar */
    text-align: center;
}

.seleccionado{
    background-color: yellow;
}