*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    grid-template-rows: 50px 1fr 1fr;
    margin: 10px;
    text-align: center;
}

div{
    border: 1px solid black;
}









/* header{
    grid-area: cabecera;
    border: 1px solid chocolate;
    background-color: burlywood;
}

aside{
    grid-area: menu;
    border: 1px solid chocolate;
    background-color: burlywood;
}

main{
    grid-area: main;
    border: 1px solid chocolate;
    background-color: burlywood;
}

section{
    grid-area: derecha;
    border: 1px solid chocolate;
    background-color: burlywood;
}

footer{
    grid-area:pie;
    border: 1px solid chocolate;
    background-color: burlywood;
}

.contenedor{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "menu main main derecha"
    "menu pie pie pie";
    gap: 10px;
    background-color: chocolate;
    padding: 10px;
    border: 3px solid brown;
    text-align: center;
} */