* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorPrincipal {
    display: flex;
    padding: 30px;
}

form {
    width: 400px;
    display: flex;
}

fieldset {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, button{
    padding: 3px 5px;
    border-radius: 5px;
}

input[type="submit"] ,button {
    width: max-content;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.error {
    color: red;
}