body{
    height: 100%;
}

.pagina{
    display: flex;
    gap: 2px;
    height: 98vh; /* ViewPort ventana visible del navegador */
    
}

div > div{
    padding: 12px 24px;
}

.sidebar{
    background-color: #74d8d8;
    flex: 1;
}

.contenido{
    flex: 4;
    background-color: rgb(144, 252, 176);
}