* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: gray; */
}

.contenedorPrincipal {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedorTarjetas {
    padding-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.tarjeta {
    padding: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 5px 5px 5px gray;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: aliceblue;
}

.tarjeta:hover {
    cursor: pointer;
    background-color: lightyellow;
}

.filtroVolver {
    display: flex;
    justify-content: space-between;
}

a {
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid lightblue;
    border-radius: 5px;
    color: white;
    background-color: dodgerblue;
}

input, select{
    padding: 3px;
}

.tabla {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.cabecera {
    font-weight: bold;
    font-size: large;
}

.fila {
    display: flex;
}

.listado > .fila:hover {
    background-color: lightgoldenrodyellow;
}

.fila > div {
    padding: 10px;
    flex: 1;
    overflow: hidden; /* Ocultar el texto que se sale del contenedor */
    text-overflow: ellipsis; /* Muestra ... al final */
    border: 1px solid black;
}

.fila:hover > div {
    white-space: wrap;
}

.acciones {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.acciones a {
    padding: 5px;
}

.paginador{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btn-paginador{
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.activo {
    background-color: dodgerblue;
}

.activo:hover{
    cursor: pointer;
}

.inactivo {
    background-color: lightgray;
}