*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.contenedorPrincipal{
    padding: 10px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    /* es mejor poner auto en vez de tamaño fijo con px
     el tamaño fijo indicarlo en su etiqueta correspondiente */
    grid-template-rows: auto 1fr auto;
    gap: 50px;
}



/****************************** HEADER ******************************/
header{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #002B5B;
    color: white;
    border-radius: 5px;
}

header ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
}

header ul a{
    color: white;
    text-decoration: none;
}



/****************************** MAIN ******************************/
main{
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 30px;
}

.contenidoPrincipal{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articulos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

article{
    padding: 30px 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

aside{
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

aside a{
    text-decoration: none;
    color: rgb(0, 35, 131);
}



/****************************** FOOTER ******************************/
footer{
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #002B5B;
    color: white;
    border-radius: 5px;
}